

{% extends 'base.html' %}

{% block title %}Home{% endblock%}

{% block header_img %}{% endblock %}
{% block header_title %}{% endblock %}
{% block header_sub %} {% endblock %}



{% block content %} 


<div class="container mt-4">
    <h1>Acerca de este Proyecto</h1>
    
    <p>Bienvenido al proyecto de <strong>Gestión de Solicitudes y Recursos</strong>. Este proyecto ha sido desarrollado con la finalidad de proporcionar una solución eficiente y segura para la administración de solicitudes y recursos dentro de nuestra organización.</p>
  
    <p>Nuestra plataforma está diseñada para brindar a los usuarios la capacidad de realizar peticiones de manera sencilla y ágil, así como para garantizar una gestión efectiva de los recursos disponibles. Valoramos la seguridad de la información y la comodidad de nuestros usuarios, por lo que hemos implementado medidas de seguridad y funciones intuitivas en cada etapa del proceso.</p>
  
    <p>La plataforma se adapta a las necesidades de diferentes roles, desde el administrador encargado de la gestión de usuarios y áreas, hasta los usuarios de áreas específicas que realizan solicitudes de materiales. Nuestro objetivo es mejorar la eficiencia de los procesos internos y crear un entorno de trabajo más organizado y colaborativo.</p>
  
    <p>Este proyecto es el resultado del esfuerzo y la dedicación de nuestro equipo de desarrollo, que se ha centrado en crear una experiencia fluida y segura para todos los usuarios. Agradecemos a todos los que han contribuido y confiado en este proyecto, y esperamos que la plataforma sea de gran utilidad para mejorar la administración de recursos en nuestra organización.</p>
  
    <p>¡Gracias por ser parte de esta iniciativa y por ayudarnos a construir un entorno más eficiente y seguro!</p>
  </div>
  
  <!-- Scripts de Bootstrap y jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>


{% endblock %}    