

{% extends 'base.html' %}

{% block title %}Home{% endblock%}

{% block header_img %}{% endblock %}
{% block header_title %}{% endblock %}
{% block header_sub %} {% endblock %}



{% block content %} 

<div class="container mt-4">
    <h1>Contacto</h1>
    
    <p>Si tienes alguna pregunta, comentario o sugerencia sobre nuestro proyecto de <strong>Gestión de Solicitudes y Recursos</strong>, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte y brindarte el soporte que necesitas.</p>
  
    <div class="row">
      <div class="col-md-6">
        <h3>Información de Contacto:</h3>
        <p><strong>Nombre:</strong> [Tu Nombre]</p>
        <p><strong>Correo Electrónico:</strong> [Tu Correo Electrónico]</p>
        <p><strong>Teléfono:</strong> [Tu Número de Teléfono]</p>
      </div>
    </div>
  </div>
  
  <!-- Scripts de Bootstrap y jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>


{% endblock %}    