{% extends 'base.html' %}

{% block content %}

<div class="container">

  <!-- Topbar Search -->

  <form method="POST" action="{{ url_for('auth.Peticionesbuscar') }}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <input type="text" name="usuario_solicitante" class="form-control bg-light border-0 small" placeholder="Usuario Solicitante" aria-label="Search" aria-describedby="basic-addon2">
      <input type="text" name="numero_solicitud" class="form-control bg-light border-0 small" placeholder="Número de Solicitud" aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>



<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Ver peticiones y su estatus</h1>
  <a href="{{ url_for('auth.solicitudes') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          ></i>Ver  </a>
</div>
  <h1>Peticiones</h1>
  <div class="card-body">
    <div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>Número de Petición</th>
        <th>Descripción</th>
        <th>Usuario Solicitante</th>
        <th>Área Solicitante</th>
        <th>Fecha de Solicitud</th>
        <th>Material</th>
        <th>Unidad de Medida</th>
        <th>Cantidad</th>
    </tr>
</thead>
<tbody>
    {% for peticion_agrupada in peticiones %}
        {% for peticion in peticion_agrupada['detalles'] %}
            <tr>
                {% if loop.index == 1 %}
                    <td rowspan="{{ peticion_agrupada['detalles']|length }}">{{ peticion.numero_requisicion }}</td>
                    <td rowspan="{{ peticion_agrupada['detalles']|length }}">{{ peticion.descripcion }}</td>
                    <td rowspan="{{ peticion_agrupada['detalles']|length }}">{{ peticion_agrupada['usuario_nombre_completo'] }}</td>
                {% endif %}
                <td>{{ obtener_nombre_area(peticion.area_solicitante) }}</td>
                <td>{{ peticion.fecha_solicitud }}</td>
                <td>{{ peticion.material }}</td>
                <td>{{ peticion.unidad_de_medida }}</td>
                <td>{{ peticion.cantidad }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</tbody>
</table>

</div>
</div>

</div>

 
{% endblock %}
