{% extends 'base.html' %}
{% block content %}

<div class="container">


    <!-- Topbar Search -->
 <form method="POST" action="{{ url_for('auth.buscar_usuarios') }}"
 class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
 <div class="input-group">
     <input type="text" name="search_term" class="form-control bg-light border-0 small" placeholder="Search for..."
         aria-label="Search" aria-describedby="basic-addon2">
     <div class="input-group-append">
         <button class="btn btn-primary" type="submit">
             <i class="fas fa-search fa-sm"></i>
         </button>
     </div>
 </div>
</form>


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Nuevo usuario</h1>
    <a href="{{ url_for('home.register') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
        class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> agregar usuario</a>
</div>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Lista de usuarios</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Tipo</th>
                            <th>Area</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.ID }}</td>
                            <td>{{usuario.username}}</td>
                            
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.apellido_paterno }}</td>
                            <td>{{ usuario.apellido_materno }}</td>
                            <td>{{ usuario.tipo }}</td>
                            <td>{{ usuario.area}}</td>
                            

                            <td>
                                <form method="POST" action="{{ url_for('home.delete_user', user_id=usuario.ID) }}" onsubmit="return confirm('¿Estás seguro de eliminar este material?');">
                                    
                                    <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                                </form>
                            </td>


                            <td>
                                <form method="POST" action="{{ url_for('home.update_user', user_id=usuario.ID) }}">
                                  
                                    <button type="submit" class="btn btn-primary">Editar</button>
                                  </form>
                                  
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->


<!-- End of Main Content -->


</div>


 
{% endblock %}
